USE [master]
GO
/****** Object:  Database [PortalRekrutacja]    Script Date: 07.03.2018 12:11:06 ******/
CREATE DATABASE [PortalRekrutacja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortalRekrutacja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\PortalRekrutacja.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PortalRekrutacja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\PortalRekrutacja_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortalRekrutacja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortalRekrutacja]
GO
/****** Object:  User [PortalRekrutacja]    Script Date: 07.03.2018 12:11:06 ******/
CREATE USER [PortalRekrutacja] FOR LOGIN [PortalRekrutacja] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PortalRekrutacja]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AdditionalInformations]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RecruitmentProcessId] [int] NOT NULL,
	[PaymentTypeId] [int] NULL,
	[PaymentFrom] [int] NULL,
	[PaymentTo] [int] NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AdditionalInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseKinds]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseKinds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CourseKinds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseTypeId] [int] NOT NULL,
	[CourseKindId] [int] NOT NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseTypes]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CourseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Documents]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VirtualCvVisibility] [bit] NOT NULL,
	[Cv] [nvarchar](max) NULL,
	[LetterOfMotivation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DrivingLicenses]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrivingLicenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DrivingLicenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DrivingLicenseUsers]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrivingLicenseUsers](
	[DrivingLicense_Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DrivingLicenseUsers] PRIMARY KEY CLUSTERED 
(
	[DrivingLicense_Id] ASC,
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EducationLevels]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EducationLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Educations]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EducationLevelId] [int] NOT NULL,
	[NameOfSchool] [nvarchar](max) NULL,
	[Major] [nvarchar](max) NULL,
	[Minor] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ForeignLanguageLevels]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForeignLanguageLevels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ForeignLanguageLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ForeignLanguages]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForeignLanguages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ForeignLanguages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FormOfEmployments]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormOfEmployments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FormOfEmployments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interests]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Interests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonalDatas]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Birthday] [datetime] NULL,
	[City] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_dbo.PersonalDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProcessStatus]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProcessStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RecruitmentProcesses]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruitmentProcesses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcessCode] [int] NOT NULL,
	[City] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[Offer] [nvarchar](max) NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[FormOfEmploymentId] [int] NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[PaymentFrom] [int] NULL,
	[PaymentTo] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[ProcessStatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RecruitmentProcesses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyAnswers]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SurveyQuestionId] [int] NOT NULL,
	[Answer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SurveyAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SurveyQuestions]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecruitmentProcessId] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SurveyQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserForeignLanguages]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserForeignLanguages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ForeignLanguageId] [int] NOT NULL,
	[ForeignLanguageLevelId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UżytkownicyJęzykiObce] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRecruitmentProcesses]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRecruitmentProcesses](
	[User_Id] [int] NOT NULL,
	[RecruitmentProcess_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRecruitmentProcesses] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC,
	[RecruitmentProcess_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[AccessFailedCount] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[PasswordLastModified] [datetime] NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkExperiences]    Script Date: 07.03.2018 12:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Position] [nvarchar](max) NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[Responsibilities] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WorkExperiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CourseTypes] ON 

INSERT [dbo].[CourseTypes] ([Id], [Name]) VALUES (1, N'Kurs')
INSERT [dbo].[CourseTypes] ([Id], [Name]) VALUES (2, N'Szkolenie')
INSERT [dbo].[CourseTypes] ([Id], [Name]) VALUES (3, N'Uprawnienie')
SET IDENTITY_INSERT [dbo].[CourseTypes] OFF
SET IDENTITY_INSERT [dbo].[DrivingLicenses] ON 

INSERT [dbo].[DrivingLicenses] ([Id], [Category]) VALUES (1, N'AM')
INSERT [dbo].[DrivingLicenses] ([Id], [Category]) VALUES (2, N'A1')
INSERT [dbo].[DrivingLicenses] ([Id], [Category]) VALUES (3, N'A2')
SET IDENTITY_INSERT [dbo].[DrivingLicenses] OFF
SET IDENTITY_INSERT [dbo].[EducationLevels] ON 

INSERT [dbo].[EducationLevels] ([Id], [Name]) VALUES (1, N'podstawowe')
INSERT [dbo].[EducationLevels] ([Id], [Name]) VALUES (2, N'gimnazjalne')
INSERT [dbo].[EducationLevels] ([Id], [Name]) VALUES (3, N'srednie')
SET IDENTITY_INSERT [dbo].[EducationLevels] OFF
SET IDENTITY_INSERT [dbo].[ForeignLanguageLevels] ON 

INSERT [dbo].[ForeignLanguageLevels] ([Id], [Name]) VALUES (1, N'poczatkujacy')
INSERT [dbo].[ForeignLanguageLevels] ([Id], [Name]) VALUES (2, N'sredniozaawansowany')
INSERT [dbo].[ForeignLanguageLevels] ([Id], [Name]) VALUES (3, N'zaawansowany')
SET IDENTITY_INSERT [dbo].[ForeignLanguageLevels] OFF
SET IDENTITY_INSERT [dbo].[ForeignLanguages] ON 

INSERT [dbo].[ForeignLanguages] ([Id], [Name]) VALUES (1, N'angielski')
INSERT [dbo].[ForeignLanguages] ([Id], [Name]) VALUES (2, N'hiszpanski')
INSERT [dbo].[ForeignLanguages] ([Id], [Name]) VALUES (3, N'francuski')
SET IDENTITY_INSERT [dbo].[ForeignLanguages] OFF
SET IDENTITY_INSERT [dbo].[PersonalDatas] ON 

INSERT [dbo].[PersonalDatas] ([Id], [UserId], [FirstName], [LastName], [Birthday], [City], [Phone], [LastModified]) VALUES (4, 9, N'Dawid', N'Grygowicz', NULL, NULL, NULL, NULL)
INSERT [dbo].[PersonalDatas] ([Id], [UserId], [FirstName], [LastName], [Birthday], [City], [Phone], [LastModified]) VALUES (5, 11, N'Marcin', N'Szynkowski', NULL, N'Bydgoszcz', N'234567890', NULL)
INSERT [dbo].[PersonalDatas] ([Id], [UserId], [FirstName], [LastName], [Birthday], [City], [Phone], [LastModified]) VALUES (6, 12, N'Dawid', N'Grygowicz', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PersonalDatas] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'Administrator', N'Administrator Portalu, moze wszystko')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'Uzytkownik', N'Uzytkownik Portalu, moze niewiele')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (3, N'Nieaktywowany', N'Uzytkownik Portalu przed aktywacja konta, moze aktywowac konto')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [AccessFailedCount], [LastLogin], [LockoutEnabled], [PasswordLastModified], [RoleId]) VALUES (1, N'loginandrole@gmail.com', N'AJXzzZmQ48D4oeJkotzCZ2yKwI3Hwa5OcbflDb5LsVIH/Jh75iFF7X4gPeFFzef7bQ==', 0, CAST(N'2018-02-28 13:48:49.817' AS DateTime), 0, NULL, 1)
INSERT [dbo].[Users] ([Id], [Email], [Password], [AccessFailedCount], [LastLogin], [LockoutEnabled], [PasswordLastModified], [RoleId]) VALUES (2, N'grygowiczdawid@gmail.com', N'ADba9EoI/jFMCYHhXpBOHJFbuvVDKaLYAzNWnZHCjVdlYPgZsv4Ogs7V3duo5ZVa6Q==', 0, CAST(N'2018-02-28 10:47:49.690' AS DateTime), 1, NULL, 2)
INSERT [dbo].[Users] ([Id], [Email], [Password], [AccessFailedCount], [LastLogin], [LockoutEnabled], [PasswordLastModified], [RoleId]) VALUES (3, N'none@gmail.com', N'AClPGjW/zblJqDdGMwgfZ1NmJlL1kuBNE+ZFBaRhvs7WHbIaNibBJUODPlLVVhFt7w==', 0, CAST(N'2018-02-22 12:25:44.677' AS DateTime), 0, NULL, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_PaymentTypeId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTypeId] ON [dbo].[AdditionalInformations]
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecruitmentProcessId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_RecruitmentProcessId] ON [dbo].[AdditionalInformations]
(
	[RecruitmentProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AdditionalInformations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseKindId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_CourseKindId] ON [dbo].[Courses]
(
	[CourseKindId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseTypeId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_CourseTypeId] ON [dbo].[Courses]
(
	[CourseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Courses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Documents]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DrivingLicense_Id]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_DrivingLicense_Id] ON [dbo].[DrivingLicenseUsers]
(
	[DrivingLicense_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[DrivingLicenseUsers]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationLevelId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_EducationLevelId] ON [dbo].[Educations]
(
	[EducationLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Educations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Interests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[PersonalDatas]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FormOfEmploymentId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_FormOfEmploymentId] ON [dbo].[RecruitmentProcesses]
(
	[FormOfEmploymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTypeId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTypeId] ON [dbo].[RecruitmentProcesses]
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessStatusId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_ProcessStatusId] ON [dbo].[RecruitmentProcesses]
(
	[ProcessStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Skills]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SurveyQuestionId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_SurveyQuestionId] ON [dbo].[SurveyAnswers]
(
	[SurveyQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SurveyAnswers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecruitmentProcessId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_RecruitmentProcessId] ON [dbo].[SurveyQuestions]
(
	[RecruitmentProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForeignLanguageId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_ForeignLanguageId] ON [dbo].[UserForeignLanguages]
(
	[ForeignLanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForeignLanguageLevelId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_ForeignLanguageLevelId] ON [dbo].[UserForeignLanguages]
(
	[ForeignLanguageLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserForeignLanguages]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecruitmentProcess_Id]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_RecruitmentProcess_Id] ON [dbo].[UserRecruitmentProcesses]
(
	[RecruitmentProcess_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[UserRecruitmentProcesses]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 07.03.2018 12:11:06 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[WorkExperiences]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdditionalInformations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdditionalInformations_dbo.PaymentTypes_PaymentTypeId] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([Id])
GO
ALTER TABLE [dbo].[AdditionalInformations] CHECK CONSTRAINT [FK_dbo.AdditionalInformations_dbo.PaymentTypes_PaymentTypeId]
GO
ALTER TABLE [dbo].[AdditionalInformations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdditionalInformations_dbo.RecruitmentProcesses_RecruitmentProcessId] FOREIGN KEY([RecruitmentProcessId])
REFERENCES [dbo].[RecruitmentProcesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdditionalInformations] CHECK CONSTRAINT [FK_dbo.AdditionalInformations_dbo.RecruitmentProcesses_RecruitmentProcessId]
GO
ALTER TABLE [dbo].[AdditionalInformations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AdditionalInformations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdditionalInformations] CHECK CONSTRAINT [FK_dbo.AdditionalInformations_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.CourseKinds_CourseKindId] FOREIGN KEY([CourseKindId])
REFERENCES [dbo].[CourseKinds] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.CourseKinds_CourseKindId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.CourseTypes_CourseTypeId] FOREIGN KEY([CourseTypeId])
REFERENCES [dbo].[CourseTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.CourseTypes_CourseTypeId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Documents_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_dbo.Documents_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[DrivingLicenseUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DrivingLicenseUsers_dbo.PrawoJazdy_DrivingLicense_Id] FOREIGN KEY([DrivingLicense_Id])
REFERENCES [dbo].[DrivingLicenses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DrivingLicenseUsers] CHECK CONSTRAINT [FK_dbo.DrivingLicenseUsers_dbo.PrawoJazdy_DrivingLicense_Id]
GO
ALTER TABLE [dbo].[DrivingLicenseUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DrivingLicenseUsers_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DrivingLicenseUsers] CHECK CONSTRAINT [FK_dbo.DrivingLicenseUsers_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Educations_dbo.EducationLevels_EducationLevelId] FOREIGN KEY([EducationLevelId])
REFERENCES [dbo].[EducationLevels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_dbo.Educations_dbo.EducationLevels_EducationLevelId]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Educations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_dbo.Educations_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Interests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Interests_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interests] CHECK CONSTRAINT [FK_dbo.Interests_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[PersonalDatas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PersonalDatas_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalDatas] CHECK CONSTRAINT [FK_dbo.PersonalDatas_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[RecruitmentProcesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.FormOfEmployments_FormOfEmploymentId] FOREIGN KEY([FormOfEmploymentId])
REFERENCES [dbo].[FormOfEmployments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecruitmentProcesses] CHECK CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.FormOfEmployments_FormOfEmploymentId]
GO
ALTER TABLE [dbo].[RecruitmentProcesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.PaymentTypes_PaymentTypeId] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecruitmentProcesses] CHECK CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.PaymentTypes_PaymentTypeId]
GO
ALTER TABLE [dbo].[RecruitmentProcesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.ProcessStatus_ProcessStatusId] FOREIGN KEY([ProcessStatusId])
REFERENCES [dbo].[ProcessStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecruitmentProcesses] CHECK CONSTRAINT [FK_dbo.RecruitmentProcesses_dbo.ProcessStatus_ProcessStatusId]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Skills_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_dbo.Skills_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[SurveyAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyAnswers_dbo.SurveyQuestions_SurveyQuestionId] FOREIGN KEY([SurveyQuestionId])
REFERENCES [dbo].[SurveyQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyAnswers] CHECK CONSTRAINT [FK_dbo.SurveyAnswers_dbo.SurveyQuestions_SurveyQuestionId]
GO
ALTER TABLE [dbo].[SurveyAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyAnswers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyAnswers] CHECK CONSTRAINT [FK_dbo.SurveyAnswers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[SurveyQuestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SurveyQuestions_dbo.RecruitmentProcesses_RecruitmentProcessId] FOREIGN KEY([RecruitmentProcessId])
REFERENCES [dbo].[RecruitmentProcesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SurveyQuestions] CHECK CONSTRAINT [FK_dbo.SurveyQuestions_dbo.RecruitmentProcesses_RecruitmentProcessId]
GO
ALTER TABLE [dbo].[UserForeignLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.ForeignLanguageLevels_ForeignLanguageLevelId] FOREIGN KEY([ForeignLanguageLevelId])
REFERENCES [dbo].[ForeignLanguageLevels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserForeignLanguages] CHECK CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.ForeignLanguageLevels_ForeignLanguageLevelId]
GO
ALTER TABLE [dbo].[UserForeignLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.ForeignLanguages_ForeignLanguageId] FOREIGN KEY([ForeignLanguageId])
REFERENCES [dbo].[ForeignLanguages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserForeignLanguages] CHECK CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.ForeignLanguages_ForeignLanguageId]
GO
ALTER TABLE [dbo].[UserForeignLanguages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserForeignLanguages] CHECK CONSTRAINT [FK_dbo.UżytkownicyJęzykiObce_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserRecruitmentProcesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRecruitmentProcesses_dbo.RecruitmentProcesses_RecruitmentProcess_Id] FOREIGN KEY([RecruitmentProcess_Id])
REFERENCES [dbo].[RecruitmentProcesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRecruitmentProcesses] CHECK CONSTRAINT [FK_dbo.UserRecruitmentProcesses_dbo.RecruitmentProcesses_RecruitmentProcess_Id]
GO
ALTER TABLE [dbo].[UserRecruitmentProcesses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRecruitmentProcesses_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRecruitmentProcesses] CHECK CONSTRAINT [FK_dbo.UserRecruitmentProcesses_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[WorkExperiences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PrzebiegZatrudnienia_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkExperiences] CHECK CONSTRAINT [FK_dbo.PrzebiegZatrudnienia_dbo.Users_UserId]
GO
USE [master]
GO
