
@{
    ViewBag.Title = "TermOfUse";
}

<br>
<div>
    @Html.ActionLink("Powrót", "SignUp", "Account", null, new { @class = "btn btn-dark" })
</div>

<h2 class="text-center">Regulamin korzystania z portalu rekrutacyjnego</h2>

Tutaj będzie regulamin.